@import "../../App.scss";

.projects {
  height: 60rem;
  position: relative;

  h1 {
    text-align: center;
    margin-top: 18rem;
    font-size: 2.5rem;
    font-weight: 500;
  }

  .project-list {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }
}
