@import "../../App.scss";

.projects {
  height: 60rem;
  position: relative;

  .project-title-box {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    // height: 7rem;
    // margin-bottom: 13rem;

    .project-line {
      margin-top: 1.5rem;
      width: 12rem;
      border-top: 0.2rem solid $grey-color;
    }
  }

  h3 {
    text-transform: uppercase;
    color: $grey-color;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
  }

  h1 {
    // margin-top:
    letter-spacing: 0.2rem;
    font-size: 2rem;
    color: $grey-color;
  }

  .project-list {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }
}
