@import "../../App.scss";

.section {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  // background: $primary-color-bg;
  min-height: 20rem;
  // width: 100vw;
  position: relative;
  // flex-wrap: wrap;

  @include phone {
    flex-wrap: wrap;
    position: unset;
  }

  .content-section {
    width: 80vw;
    margin: 2rem 0rem;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: -5rem;
    flex-wrap: wrap;
    // align-items: center;

    @include phone {
      position: unset;
      margin: 0rem;
      margin-bottom: 2rem; 
    }
  }

  .title-box {
    margin-top: 3rem;
    padding-bottom: 1rem;
    background: $primary-color-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;

    h1 {
      margin: 0.5rem 0rem 0.5rem 0rem;
      font-size: 2.2rem;
      color: white;
    }

    .line {
      border-top: 0.2rem solid white;
      width: 5rem;
    }
  }
}
