@import "../../App.scss";

.hero {
  display: flex;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  height: 82vh;

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 10rem;
    height: 12rem;

    // .icon-box {
    //   display: flex;
    //   justify-content: space-evenly;
    // }

    @include phone {
      height: 15rem;
      align-items: center;
      width: 90%;
      // font-size: 3%;
    }

    .sub-title-box {
      display: flex;

      .hero-line {
        width: 17rem;
        border-top: 0.2rem solid $grey-color;
        top: 1rem;
        left: 1rem;
        position: relative;
        @include phone {
          width: 70%;
          border-top: 0.1rem solid $grey-color;
          top: 2rem;
          display: none;
          // align-items: center;
          // justify-content: center;
        }
        @include tablet {
          width: 30%;
          top: 0.6rem;
          border-top: 0.2rem solid $grey-color;
        }
      }
      @include phone {
        width: 80%;
        justify-content: center;

        // align-items: center;
        // justify-content: center;
      }
    }

    span {
      color: #63d1f4;
      font-family: "Bebas Neue", cursive;
    }

    h1 {
      font-size: 5.8rem;
      font-weight: 500;
      font-family: "Bebas Neue", cursive;
      align-self: center;
      letter-spacing: 1rem;
      color: $grey-color;

      @include phone {
        font-size: 2.8rem;
        overflow: none;
        letter-spacing: 0.6rem;
      }

      @include tablet {
        font-size: 4.7rem;
      }
    }

    .btn-hero {
      width: 30%;
      align-self: center;

      @include phone {
        width: 70%;
      }
    }

    h3 {
      color: $grey-color;
      font-size: 1.4rem;
      letter-spacing: 0.5rem;

      @include phone {
        font-size: 1rem;
        text-align: center;
      }

      @include tablet {
        font-size: 1.1rem;
        text-align: center;
      }
    }
  }
}
