@import "../../App.scss";

.hero {
  display: flex;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  height: 90vh;

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 10rem;
    height: 15rem;

    .icon-box {
      display: flex;
      justify-content: space-evenly;
    }

    // span {
    //   color: $primary-color;
    // }

    h1 {
      font-size: 2.5rem;
      font-weight: 500;
    }

    .btn-hero {
      width: 30%;
      align-self: center;
    }
  }
}
