@import "../../App.scss";

.content-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 31%;
  text-align: center;
  line-height: 1.7rem;
  height: 20rem;
  box-shadow: $box-shadow;
  background: $grey-color;
  padding: 2rem;
  border-radius: 0.5rem;
  transition: $main-transition;

  @include phone {
    width: 100vw;
    padding: 1rem;
    min-height: 22rem;
    margin: 1rem 0rem;
  }

  @include tablet {
    width: 100vw;
    padding: 1rem;
    min-height: 22rem;
    margin: 1rem 0rem;
  }

  @include smalllaptop {
    width: 32%;
    margin: 0rem 0.1rem;
    height: 25rem;
  }
}

.content-card:hover {
  background: $primary-color-bg;
  color: black;
  color: $grey-color;
  cursor: pointer;
}
