@import "../../App.scss";

.content-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  text-align: center;
  line-height: 1.7rem;
  height: 20rem;
  box-shadow: $box-shadow;
  background: $grey-color;
  padding: 2rem;
  border-radius: 0.5rem;
  //   position: relative;
  //   bottom: 12rem;
  transition: $main-transition;
}

.content-card:hover {
  background: $primary-color-bg;
  color: black;
  color: $grey-color;
  cursor: pointer;
}

// .icon:hover {
//   color: white;
// }
