@import "../../App.scss";

.project-card {
  height: 15rem;
  width: 25rem;
  border-radius: 10px;
  margin: 1rem;
  position: relative;
}

.project-img {
  border-radius: 10px;
  height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
  object-fit: cover;
  transition: $main-transition;
}

.project-img-hovered {
  opacity: 0.2;
}

a {
  text-decoration: none;

  span {
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 4.8px;
    left: 1px;
  }
}

.project-card-text-box {
  border-radius: 10px;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  opacity: 0;
  justify-content: center;
  margin-bottom: 10rem;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 78, 9, 1) 16%,
    rgba(0, 212, 255, 1) 100%
  );
  transition: $main-transition;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  h2 {
    margin: 25px 0px 10px 0px;
    font-weight: 500;
  }

  p {
    margin: 15px;
    text-align: center;
  }
}

.project-card-text-box-hovered {
  opacity: 1;
}
