@import "../../App.scss";

.about {
  min-height: 55rem;
  background: $primary-color-bg;
  color: $grey-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @include phone {
    // margin-bottom: 10rem;
  }

  .about-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

    @include phone {
      margin-top: 3rem;
    }

    h2 {
      font-weight: bold;
      font-size: 1.6rem;
      letter-spacing: 0.2rem;
      margin: 1rem 0rem;

      @include phone {
        text-align: center;
        line-height: 2.5rem;
      }
    }

    p {
      text-align: center;
      margin-top: 1.5rem;
      line-height: 2.7rem;

      @include phone {
        line-height: 2rem;
      }
    }
  }
}
