@import "../../App.scss";

// .tech-skills {
//     margin: 3rem 0rem;
//     background: white;
//     color: black;
//     padding: 3rem;
//     border: 1px solid silver;
//     border-radius: 10px;
//     position: absolute;
//     top: 25rem;
// }

.txt-area {
  resize: none;
}

//

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  align-items: center;
  margin-top: 15rem;
  padding: 3rem;
  border: 1px solid silver;
  border-radius: 10px;
  width: 85%;
  position: absolute;
  bottom: -20rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  .icon {
    margin-left: 2px;
  }

  p {
    margin: 2rem 0rem 2rem 0rem;
    font-weight: 300;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-transform: capitalize;
    width: 65%;
    height: 25rem;
    position: relative;

    label {
      color: grey;
    }

    input {
      padding: 0.3rem;
    }

    textarea {
      padding: 0.3rem;
    }
  }
}

.error-success-msg {
  align-self: center;
  text-transform: none;
  margin: 0px;
}

.required {
  position: absolute;
  top: 22.5rem;
}

.loading {
  // position: absolute;
  stroke-dasharray: 100px;
  stroke-dashoffset: 0;
  animation: heartBeat 4s linear reverse infinite;
  transform: rotate(-90deg);
  width: 390px;
  align-self: center;
}

@keyframes heartBeat {
  50% {
    stroke-dashoffset: 100px;
  }
  50.01% {
    stroke-dashoffset: -100px;
  }
}
