@import "../../App.scss";

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 24px;
  text-transform: capitalize;
  flex-wrap: wrap;

  @include phone {
    padding: 0px;
    justify-content: center;
  }

  .btn-box {
    @include phone {
      padding: 0px;
      display: flex;
      flex-direction: column;
    }
  }

  h3,
  div {
    padding: 12px;
    align-self: center;
  }

  h3 {
    opacity: 0;

    @include phone {
      display: none;
    }
  }

  h3:hover {
    cursor: default;
  }

  span {
    color: $primary-color;
  }
}
