@import "../../App.scss";

.tech-skills {
  margin: 4rem 0rem;
  padding-bottom: 1rem;
  background: white;
  color: black;
  // padding: 3rem;
  border: 1px solid silver;
  border-radius: 10px;
  box-shadow: $box-shadow;
  width: 80%;
  align-items: center;
  position: absolute;
  top: 29rem;

  @include phone {
    position: unset;
    width: 100%;
  }

  @include tablet {
    position: unset;
    width: 100%;
  }

  @include smalllaptop {
    width: 130%;
    position: unset;
  }

  .tech-skills-title {
    margin: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    // margin-bottom: 4rem;
    font-weight: bold;
  }

  .skills-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    h4 {
      text-align: center;
      font-weight: 300;
    }

    .developer-icons {
      width: 5rem;
      margin: 2rem;
      transition: all 0.2s ease-in-out;

      @include phone {
        width: 3rem;
      }

      @include smalllaptop {
        width: 4rem;
      }

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
}

.skill-box {
  height: 160px;

  @include phone {
    height: 120px;
  }
}
