// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap");

// Variables
$primary-font: "Poppins", sans-serif;
$secondary-font: "Lobster", cursive;
$primary-color: rgb(3, 79, 150);
$primary-color-bg: rgba(3, 80, 150, 1);
$grey-color: rgba(245, 245, 245, 1);
$main-transition: all 0.1s linear;
$secondary-transition: all 0.3s linear;
$box-shadow: 0px 7px 10px rgba(black, 0.5);
$box-shadow-small: 0px 3px 15px rgba(0, 0, 0, 0.2);

// Media Queries

// @mixin desktop {
//   @media (min-width: 800px) {
//     @content;
//   }
// }

@mixin phone {
  @media (min-width: 300px) and (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 601px) and (max-width: 1000px) {
    @content;
  }
}

@mixin smalllaptop {
  @media (min-width: 1001px) and (max-width: 1407px) {
    @content;
  }
}

// Global Styles
* {
  font-family: $primary-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #162252;
}

// Buttons
.btn-primary {
  font-weight: 500;
  // letter-spacing: 1.3px;
  font-size: 0.9rem;
  font-family: $primary-font;
  padding: 12px 50px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid $primary-color;
  text-transform: capitalize;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  color: white;
  transition: $main-transition;
  outline: none;
  box-shadow: 0px 3px 7px rgba(black, 0.2);
  margin: 0px 6px;

  @include phone {
    width: 15rem;
    margin-top: 12px;
  }
}

.resume {
  @include phone {
    // display: none;
  }
}

.btn-primary:hover {
  background: $primary-color;
  color: white;
}

.btn-link {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  color: white;
  opacity: 0;
  padding: 8px 8px 10px 20px;
  // bottom: 40px;
  // left: 33.5%;
  font-size: 0.9rem;
  bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  left: 0;
  right: 0;
  text-align: center;

  @include phone {
    bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    left: 0;
    right: 0;
    text-align: center;
  }
}

.btn-link:hover {
  background: white;
  color: $primary-color;
}

.btn-link-hovered {
  opacity: 1;
}

.btn-form {
  background: $primary-color;
  color: white;
  margin: 2rem;
  width: 10rem;
  align-self: center;
}

.btn-form:hover {
  background: white;
  color: $primary-color;
}
