// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

// Variables
$primary-font: "Poppins", sans-serif;
$primary-color: #035096;
$main-transition: all 0.3s linear;

// Global Styles
* {
  font-family: $primary-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Buttons
.btn-primary {
  font-family: $primary-font;
  padding: 12px;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid $primary-color;
  text-transform: capitalize;
  background: white;
  color: $primary-color;
  transition: $main-transition;
  outline: none;
}

.btn-primary:hover {
  background: $primary-color;
  color: white;
}
