// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

// Variables
$primary-font: "Poppins", sans-serif;
$primary-color: #035096;
$main-transition: all 0.3s linear;

// Global Styles
* {
  font-family: $primary-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Buttons
.btn-primary {
  font-family: $primary-font;
  padding: 12px;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid $primary-color;
  text-transform: capitalize;
  background: white;
  color: $primary-color;
  transition: $main-transition;
  outline: none;
}

.btn-primary:hover {
  background: $primary-color;
  color: white;
}

.btn-link {
  position: absolute;
  background: white;
  color: $primary-color;
  opacity: 0;
  padding: 8px 8px 10px 20px;
  bottom: 40px;
  left: 127px;
  font-size: 0.9rem;
}

.btn-link:hover {
  background: $primary-color;
  color: white;
}

.btn-link-hovered {
  opacity: 1;
}

.btn-form {
  background: $primary-color;
  color: white;
  margin: 2rem;
  width: 10rem;
  align-self: center;
}

.btn-form:hover {
  background: white;
  color: $primary-color;
}
